<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="template.css">
</head>
<body>
    <table>
        <tr>
            <td colspan="3">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/MongoDB-Logo.svg/527px-MongoDB-Logo.svg.png" alt="">
            </td>
        </tr>
        <tr>
            <td>Number</td>
            <td>Name</td>
            <td>Description</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
    </table>
    <h1 id="message"></h1>
    <script>
        document.querySelector('#message').innerHTML = 'JS works!'
    </script>
</body>
</html>